@media only screen and (max-width: 600px) {
    body .skillContainer {
        display: inline-block;
        width: 25%;
        margin-right: 20px;
        text-align: center;
    }
    .skillLabel {
        font-size: 10px
    }
}
@media only screen and (min-width: 768px) { 
    .container {
        padding-top: 50px;
        padding-bottom: 50px;
        background-color: lightgray;
        margin-top: 0px;
    }
    .skillContainer {
        display: inline-block;
        width: 25%;
        margin-right: 20px;
        text-align: center;
    }
    .skillLabel {
        font-size: 16px
    }
}
.profile-pic {
    position: relative;
    margin-right: 0 ;
    width : 50%;
    clip-path: circle(50% at 50% 50%);
}

.container {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: lightgray;
}
.download {
    text-decoration: none
}

.skillContainer {
    display: inline-block;
    width: 10%;
    margin-right: 20px;
    text-align: center
}

